.profile-doctor-container {
  .intro-doctor {
    display: flex;

    .content-left {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 15px 1px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .up {
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
      }

      .down {
        width: 100%;
        padding-top: 8px;
        color: #555;
        font-size: 13px;
        word-wrap: break-word;
      }
    }
  }

  .view-detail-doctor {
    margin-left: 30px;

    a {
      color: #45c3d2;
      font-size: 15px;
    }
  }
}
